<div class="container">
  <%= form_tag(users_path, method: :get, class:"col-lg-6 offset-lg-3 ") do %>
    <div class="row justify-content-center">
      <span class="input-group-btn">
        <%= text_field_tag(:search, params[:search], placeholder:"Search People") %>
        <%= submit_tag("Search") %>
      </span>
      <% end %>
    </div>
</div>

<div class="containter">

    <h2>Check out where your friends want to eat:</h2>
    <div class="card-deck">
      <% @friends.each do |friend| %>
        
        <div class="card" style="width: 18rem;">
          <%= image_tag friend.image, class:"card-img-top", alt:"Card image cap"%>
            <div class="card-body">
              <h5 class="card-title"><%=friend.name%></h5>
                <ul class="list-group list-group-flush">
                  <% friend.likes.last(2).each do |like| %>
                    <li class="list-group-item"> <%= link_to like.restaurant.name, restaurant_path(like.restaurant), class:"card-link"%> </li>
                  <%end%>
                </ul>
            </div>
          
              <ul class="list-group list-group-flush">
              <% friend.liked_restaurants.where(id: current_user.liked_restaurants.pluck(:id)).limit(2).each do |restaurant| %>
                <li class="list-group-item"> <%= link_to restaurant.name, restaurant_path(restaurant), class:"card-link"%> </li>
              <%end%>
              </ul>
          
            <div class="card-body">
            <%=link_to "Profile", user_path(friend), class:"card-link"%>
            </div>
        </div>
      <% end %>
    </div>
</div>