<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-4 pb-4 cover">
                <div class="media align-items-end profile-head">
                        <div class="bg-light p-4 d-flex justify-content-start text-center">
                          <div class="profile mr-3"><%= image_tag @user.image, class:"rounded mb-2 img-thumbnail" , alt:"Card image cap", size: '130'%>
                            <br>
                            <h4 class="mt-0 mb-0"><%=@user.name%></h4>
                                <% if current_user == @user %>
                              <%= link_to "Edit Profile", edit_user_path(@user), class:"btn btn-outline-dark btn-sm btn-block"%>
                                <% end %>
                              </div>
                                <ul class="list-inline p-2 d-flex justify-content-">
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block"><%=@user.friends.count%></h5><small class="text-muted"> <i class="fa fa-user mr-1"></i><%= link_to "Friends", users_path%></small>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block"><%=@user.requested_friends.count%></h5><small class="text-muted"> <i class="fa fa-user mr-1"></i><%= link_to "Pending", friends_path%></small>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block"><%=@user.photos.count%></h5><small class="text-muted"> <i class="fa fa-image mr-1"></i><%= link_to "Photos", user_photos_path(@user)%></small>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block"><%=@user.liked_restaurants.count%></h5><small class="text-muted"> <i class="fa fa-utensils mr-1"></i><%= link_to "Places", user_restaurants_path(@user)%></small>
                                    </li>
                                </ul>
                          </div> 
                        </div>
                </div>
                
                <div class="px-4 py-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Liked Restaurants:</h5><%= link_to "Show all", user_restaurants_path(@user), class:"btn btn-link text-muted"%>
                    </div>
                    <div class="p-4 rounded shadow-sm bg-light">
                      <% @user.liked_restaurants.last(6).each do |restaurant| %>
                        <li class="list-inline-item"><%= link_to restaurant.name, restaurant_path(restaurant)%> - <%=restaurant.liking_users.where(id: @user.friends.pluck(:id)).count%> friends</li>
                      <% end %>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Recent photos</h5><%= link_to "Show all", user_photos_path(@user), class:"btn btn-link text-muted"%>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-2 pr-lg-1"><%= image_tag("#{@user.photos.last.url}",  alt:"yummy_food", class:"img-fluid rounded shadow-sm")%></div>
                        <div class="col-lg-6 mb-2 pl-lg-1"><%= image_tag("#{@user.photos[-2].url}",  alt:"yummy_food", class:"img-fluid rounded shadow-sm")%></div>
                        <div class="col-lg-6 pr-lg-1 mb-2"><%= image_tag("#{@user.photos[-3].url}",  alt:"yummy_food", class:"img-fluid rounded shadow-sm")%></div>
                        <div class="col-lg-6 pl-lg-1"><%= image_tag("#{@user.photos[-4].url}",  alt:"yummy_food", class:"img-fluid rounded shadow-sm")%></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  