<div class="container">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Restaurants</h1>
  <hr class="mt-2 mb-5">
  <%=link_to "Add a Restaurant", new_restaurant_path, class:"btn btn-primary"%>
  <%= link_to "Show all", restaurants_path, class:"btn btn-link text-muted"%>

      <div class="card-deck">
          <div class="row ">    
            <% @restaurants.each do |restaurant| %> 
                <div class="col-sm-6 col-lg-4 col-xl-3 d-flex mt-5">
                    <div class="card" style="height: 100%;" >
                        <%= image_tag restaurant.image_url, class:"card-img-top", alt:"Card image cap"%>
                            <div class="card-body">
                              <h5 class="card-title"><%=restaurant.name%></h5> 
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item"> <%= restaurant.address %><br>
                                  <%= "#{restaurant.city}, #{restaurant.state} #{restaurant.zip_code}" %><br>
                                  <%= restaurant.display_phone %></li> 
                                </ul>
                              </div>
                        
                            <ul class="list-group list-group-flush">
                                <h6 class="card-title text-center">Friend Matches</h6>
                                <% restaurant.liking_users.where(id: current_user.friends.pluck(:id)).limit(3).each do |friend| %>
                                  <li class="list-group-item"> <%= link_to friend.name, user_path(friend), class:"card-link"%> </li>
                                <%end%>
                            </ul>
                        
                            <div class="card-body d-flex flex-column">
                                <%=link_to "Profile", restaurant_path(restaurant), class:"card-link mx-auto"%>  
                                  <% if current_user.liked_restaurants.exists?(restaurant.id) %>
                                      <%= link_to "Unlike", restaurant_unlike_path(restaurant), class:"btn btn-outline-dark btn-sm btn-block float-right mt-auto"%>
                                  <%else%>
                                      <%= link_to "Like", restaurant_likes_path(restaurant), method: :post, class:"btn btn-outline-dark btn-sm btn-block float-right mt-auto"%>   
                                  <%end%>
                            </div>
                           
                      </div>
                      
                  </div>
                  
            <% end %>  
        </div>
      </div>
 
  <div class="d-flex justify-content-center p-4">
    <%= will_paginate @restaurants %>
  </div>
</div>